/* styles/PersonalDetails.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.switch label {
  width: 100%;
}

.switch .input {
  width: 100%;
  margin: 0 auto;
  height: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.cancel {
  margin-top: 10px;
  background-color: #717273;
}

.cancel:hover {
  background-color: #313232;
  color: #fff;
}
